/*-- scss:defaults --*/
// Base document colors
$body-bg: #E4E4E5;
$body-color: #034564;
$link-color: #A1BCE0;
$icon-color: #8D86C9;

// Code blocks
$code-block-bg-alpha: -.8;

// Nav Bar config
$navbar-bg: #034564;